<div class="container recipe_form">
	<label for="name">Recipe Name</label>
	<input id="name" name="name" value="{{recipe.name}}" placeholder="e.g Chilli Con Carne" maxlength="15" required />

	<label for="image">Recipe Photo Url</label>
	<input id="image" name="image_url" value="{{recipe.image_url}}" placeholder="https://images.mummypages.ie/images/1209/60/3/1_15/chilli-con-carne.jpg"required />

	<label for="slug">Url Slug</label>
	<input id="slug" name="slug" value="{{recipe.slug}}" placeholder="chilli_con_carne" required/>

	<label for="description">Description</label>
	<textarea name="description">{{recipe.description}}</textarea>

	<label for="cooking_time">Cooking Time (in minutes) </label>
	<input id="cooking_time" name="cooking_time" value="{{recipe.cooking_time}}" placeholder="40" required/>

	<label for="serving">Serves:</label>
	<input id="serving" name="serving" value="{{recipe.serving}}" required />

	<!-- Ingredients -->

	<div class="create-header"> Ingredients: </div>
	<div id="ingredient-list">
		{% if recipe.ingredients %} {% for ingredient in recipe.ingredients %}
		<input id="ingredients" placeholder="1 large onion, diced"
        class="ingredients" name="ingredients[]" type="text" value="{{ingredient}}"/>
        {% if loop.index > 1 %}
		<div class="remove-btn"></div>
		{% endif %}
		{% endfor %}
		{% else %}
		<div class="ingredient-list-item">
			<input id="ingredients" class="ingredients" name="ingredients[]" type="text" />
        </div>
			{% endif %}
		</div>

		<a class="waves-effect waves-light btn" id="add-ingredient">Add Line</a>

		<!-- Steps -->

		<div class="create-header"> Steps: </div>
		<div id="step-list">

			{% if recipe.steps %} {% for step in recipe.steps %}

			<div class="step-list-item">
				<input id="steps" class="steps" name="steps[]" type="text" value="{{step}}" /> {% if loop.index > 1 %}
				<div class="remove-btn"></a> {% endif %}
				</div>

				{% endfor %} {% else %}

				<div class="step-list-item">
					<input id="steps" class="steps" name="steps[]" type="text" />
        </div>

					{% endif %}

				</div>

				<a class="waves-effect waves-light btn" id="add-step">Add Line</a>

				<div class="input-field">
					<select id="category" name="category_name">
            <option value="" disabled selected>What kind of meal is this?</option>
            {% for category in categories %} {% if(recipe.category_name == category.name) %}
            <option value="{{category.name}}" selected>{{category.name}}</option>
            {% else %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endif %} {% endfor %}
        </select>
				</div>
			</div>

			<!-- If adding new recipe, say Submit. If editing, say Save -->


            <div class="save-recipe-button">
			{% if recipe %}
				<button class="btn waves-effect waves-light btn-small" id="recipe-save" type="submit" name="action">Save
        </button>
				{% else %}
				<button class="btn waves-effect waves-light btn-small" id="recipe-save" type="submit" name="action">Submit
        </button>
			{% endif %}
            </div>