@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Montserrat:400,500&display=swap');


/*                                                     BASE PAGE  */

/* Title */

  body {   
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

a {
    color: inherit;
}

h1 {

    padding-top: 2em;
    padding-bottom: 1em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding-bottom: .5em
}


/* Log In Button  */
.login-btn {
  background-color: rgb(175, 206, 163);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: rgb(175, 206, 163);
    text-align: center;
}

.hi {
    font-size: 1.2em;
}

.flow-text a:hover {
    color: #627A8E;
    background-color: rgb(175, 206, 163);
}
.logout-btn {
    margin: 0;
}
.logout-btn a{
    background-color: rgb(175, 206, 163);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}


.index-cta {
    padding-top: 2em;
      margin: 0;
  position: absolute;
}

/*                                                     LANDING PAGE  */

.landing-page-container {
    margin: 1em;
    padding: 1em;
}

/* Links Landing Page Card */
.landing-img{
    max-width:90%;
    max-height:90%;
    text-align: center;
}

.link-card {
    padding-top: 3em;
    font-family: 'Montserrat', sans-serif;
}

.quick-links {
    padding-bottom: 1em;
}

.quick-links a {
    margin: .5em;
    background-color: #59C1D7;
}

/* Recipe of the Day Card */

.recipe-card {
    padding-top: 2em;
    font-family: 'Montserrat', sans-serif!important;
    width: 3em;
    border: #59C1D7;
}

.card-title {
    size: 1em;
}

.card-header {
    color: black;
    text-align: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif!important;
    padding-top: .9em;
    padding-bottom: .5em;
}

.responsive {
  width: 50%;
  height: auto;
}

.recipe-generator-img {
    max-height: 75%!important;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    height: 150px;
}

.card-content {
    padding: 1em!important;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
nav {
    background-color: rgb(175, 206, 163);
}

nav ul a {
    font-size: 1.2em !important;
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
}

.brand-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em!important;
}

/* Footer */

.page-footer {
    background-color: rgb(175, 206, 163);
    padding: 0em;
    font-family: 'Oswald', sans-serif;
    margin-top:auto; 
}
.social-links {
    list-style: none;
    text-align: center;
    padding-left: 0em;
}

.social-links li {
    padding-left: 2em;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    padding-right: 9px;
}

.social-links a {
    display: inline-block;
    color: #fff;
}

.social-links li a:hover {
    color: #627A8E;
}

.social-links li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-copyright {
    text-align: center;
}

/*                                                     REUSEABLE CSS */

.page_heading {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: .9em;
    font-weight: 500;
}

form {
    font-family: 'Oswald', sans-serif;
    font-size: .6em;
    margin: 3em;
    padding: 1em;
}

form label {
    font-size: 1.2rem;
}

button, input, optgroup, select, textarea {
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}

/*                                                     RECIPES SEARCH PAGE */

.label-icon :active {
    padding-bottom: 1em;
}

.search-recipe-card .card-content {
    height: 120px;
}

.search-recipe-card .card .card-image img {
  display: block;
  position: relative;
  width: 100%;
  height: 150px;
}


.results-recipe-card .card .card-image img {
  display: block;
  position: relative;
  width: 100%;
  height: 150px;
}

.results-recipe-card .card-content {
  height: 100px;
}

.card-label {
  position: absolute;
  font-size: 0.8rem;
  top:10px;
  right: 10px;
  margin-top: 7px;
  padding: 2px 8px;
  border: 1px;
  color: white !important;
  background-color: #59C1D7 ;
  text-transform: uppercase;
  z-index: 1;
}
.cooking-text{
   display: block;
}

.category_filters{
text-align: center;
width: 80%;
margin: 0 auto 0;
}

#category-btn {
    background-color: #59C1D7;
    margin: .5em;   
}

#delete_modal {
    font-family: 'Oswald', sans-serif;
}

/*                                                     VIEW RECIPE PAGE */

.view-recipe-card .recipe-img{
  padding-top:1em;
}

.icon-color {
  color: black;
}

.like-button{
    font-size: 2em;
    padding-top: .5em;
}
.recipe-view .card {
  background-color: #E0E5E7;
}

.view-ingredients ul li {
  padding: 0px 15px 15px 5px;
  font-size: 1em;
}
.square{
  padding:5px;
  color: rgb(175, 206, 163);
}
#prep-list {
 
}

#prep-list li {
    padding: 1em 0;
}

/*                                                     LOG IN PAGE */

.login-form {
    margin-right: 3em;
    margin-left: 1em;
    padding-top:2em;
    padding-bottom: 2.5em;
}

.register-form {
    margin-right: 3em;
    margin-left: 1em;
    padding-bottom: 2em;
}

.btn-small {
    background-color: #59C1D7!important;
}

.register-button {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.register-button .btn{
    background-color: #59C1D7;
}

.register-button .btn:hover{
    background-color: #627A8E;
}

/*                                                  CREATE CATEGORY PAGE */


.create-category-button {
    text-align: center;
    padding-top: 1em;
}

.create-category-button .btn{
    background-color: #59C1D7;
}

.create-category-button .btn:hover{
    background-color: #627A8E;
}

/*                                                  ABOUT PAGE */

.about-site-links {
    text-align: center;
}

.about-links-social {
    list-style: none;
    text-align: center;
    padding-left: 0em;
}

.about-links-social li {
    padding-left: 2em;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    padding-right: 9px;
}

.about-links-social a {
    display: inline-block;
    color: rgb(175, 206, 163);
}

.about-links-social li a:hover {
    color: #627A8E;
}

.about-links-social li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


