{% extends 'base.html' %} {%block title %}| Login {% endblock %} {% block content %}

<div class="page_heading">Log In</div>

<section class='login-form'>
    <form class="col s12" method="POST" action="{{ url_for('login') }}">

        <label for="email">Email</label>
        <input id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Log In
            <i class="material-icons right">send</i>
        </button>

    </form>

</section>

    <div class="row center">
    
        <!-- if the user login details are incorrect,display an error message  -->

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p class="red-text">{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
    </div>

<div class="container">
    <div class="row">
        <div class="register-button">
            <div class="col s12">
                <a class="waves-effect btn" href="{{url_for('register_user')}}">Click here to register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}